<h1>Who Am I?</h1>
	<p>I'm Valerie and I miss my rabbit.</p>
	<img src="http://favim.com/media/uploads/images/orig/140220/anime-anime-girl-blue-eyes-blue-hair-Favim.com-1393372.jpg">

<%= Time.now %>


<ul>
  <% ['apples', 'oranges', 'bananas'].each do |fruit| %>
    <li>I like to eat <%= fruit %></li>
  <% end %>
</ul>
